@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h5 {
		@apply absolute px-6 duration-200 md:w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
	}
}
.item-gradient {
	@apply absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-gray-500 group-hover:opacity-70;
}

.item-container {
	@apply flex flex-col justify-between sm:items-center w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 space-x-8;
}

.item {
	@apply relative overflow-hidden md:w-1/4 h-[330px];
}

html,
body {
	background: #e7eaed;
	height: 100vh;
}

.hamburger {
	cursor: pointer;
	width: 32px;
	height: 32px;
	transition: all 0.25s;
	position: relative;
	z-index: 41;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 32px;
	height: 3px;
	top: 0;
	left: 0;
	background: #708090;
	transform: rotate(0);
	transition: all 0.3s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1068;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 3%;
	left: 5%;
	bottom: 3%;
	right: 5%;
	background-color: white;
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 1069;
	animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-6rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
