@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
	cursor: pointer;
	width: 32px;
	height: 32px;
	transition: all 0.25s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 32px;
	height: 3px;
	top: 0;
	left: 0;
	background: #708090;
	transform: rotate(0);
	transition: all 0.3s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
